on late-init
    setprop service.adb.root 1
    setprop sys.usb.configfs 1
    setprop sys.usb.config adb

on fs
    wait /dev/block/platform/13d60000.ufs
    symlink /dev/block/platform/13d60000.ufs /dev/block/bootdevice
    symlink /dev/block/platform/13d60000.ufs/by-name /dev/block/by-name
    start hwservicemanager

service hwservicemanager /system/bin/hwservicemanager
    user root
    group root
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

on boot
    start health-hal-2-1